# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/
*.code-workspace

# Mac / Windows
.DS_Store
Thumbs.db

